input.name {
    margin-bottom: 10px;
    margin-right: 100px;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: black;
    position: absolute;
    left: 497px;
    bottom: 350px;
    width: 200px;
  }
  input.emailAdr {
    margin-bottom: 10px;
    margin-right: 100px;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: black;
    position: absolute;
    left: 497px;
    bottom: 250px;
    width: 200px;
  
  }
  input.PhoneNum {
    margin-bottom: 10px;
    margin-right: 100px;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: black;
    position: absolute;
    left: 800px;
    bottom: 350px;
    width: 200px;
  
  }
  input.Password {
    margin-bottom: 10px;
    margin-right: 100px;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: black;
    position: absolute;
    left: 800px;
    bottom: 250px;
    width: 200px;
  }