.Icon {
    height: 190px;
    position: absolute;
    left:150px;
    border-radius: 90px;
    bottom: 250px;
  }
  .profile-pic {
    height: 190px;
    position: absolute;
    left:150px;
    border-radius: 90px;
    bottom: 250px;
    width: 200px;
  
  
  }